<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PortFolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/Projects.css}">
</head>
<body>

  <div class="navbar">
    <div class="circle"></div>
    <a th:href="@{/}"><span id="name">Kaustubh Sharma</span></a>
    <span id="des">Software Developer</span>
    <div class="rightNav">
      <a th:href="@{/res}" id="resume">Resume | </a>
      <a th:href="@{/projects}" id="projects">Projects | </a>
      <a th:href="@{/contact}" id="contact">Contact</a>
    </div>
  </div>

  <div class="projects">
    <div class="project1">
        <div class="head1">Net Banking Web Application</div>
        <div class="content1">Welcome to our Net Banking Web Application! This application provides a convenient way for users to manage their finances online.
            Features:<br><br>
            •<b> User Authentication:</b> Users can securely log in to their accounts using
            their username and password.<br><br>
            • <b>Account Management:</b> Users can view their account balances,
            transaction history, and manage their personal information.<br><br>
            • <b>Fund Transfers:</b> Users can transfer funds to other accounts within the
            bank.<br><br>
            • <b>OTP Integration:</b> Users can change password or transfer amount after receiving OTP on their registered mobile number or Email Id.
            <br><br>
            Technologies Used:<br><br>
            <b>Frontend:-</b>
            • HTML • CSS<br>
            <b>Backend:-</b>
            • Java 8 • Spring-Boot • Spring MVC<br>
            <b>Database:-</b>
            • MySQL<br><br>
            <b>Checkout code here:</b> <a href="https://github.com/KaustubhOO7/NetBankingApplication" style="color: black;" target="_blank"><u>Github</u></a><br>
            <b>View project:</b> <a href="https://siriusventures.onrender.com/welcome" style="color: black;" target="_blank"><u>Here</u></a> (Project will take a bit time to load)
        </div>
        <img th:src="@{/images/gif/project.gif}" alt="" class="projectImg">
    </div>
    <div class="project2">
        <div class="head2">Irctc Ticket Booking Automation</div>
        <div class="content2">
            This project aims to automate the process of booking tickets on the Indian Railway Catering and Tourism Corporation (IRCTC) website using Selenium WebDriver. It also incorporates a third-party CAPTCHA solver to
bypass the CAPTCHA verification during the booking process.<br><br>
Features:<br><br>
•<b>Automated Ticket Booking:</b> The script automates the entire process of
booking tickets on the IRCTC website, including login, search for trains,
selection of trains, passenger details entry.<br><br>
• <b>CAPTCHA Solver Integration:</b> Integration with a third-party CAPTCHA
solver service to automatically solve the CAPTCHA challenge presented
during the booking process.<br><br>
• <b>Customizable:</b> The script can be easily customized to fit specific booking
requirements, such as preferred train routes, class, and date of travel<br><br>
<b>Checkout code here:</b> <a href="https://github.com/KaustubhOO7/IRCTC_TicketAutomation" style="color: black;" target="_blank"><u>Github</u></a>


        </div>
    </div>
  </div>
  

    <div class="line"></div>
       <div class="emailContainer">
        <div class="email">Email</div>
        <div class="emailAdd">sharma.kaustubh.05@gmail.com</div>
       </div>
    <div class="phoneContainer">
      <div class="phone">Phone</div>
      <div class="number">+91-8825106541</div>
     </div>

     <div class="followContainer">
      <div class="follow">Follow Me</div>
      <a href="https://github.com/KaustubhOO7/KaustubhOO7" target="_blank"><img th:src="@{/images/GitHub.png}" class="github"></a>
      <a href="https://www.linkedin.com/in/kaustubhsharma007/" target="_blank"><img th:src="@{/images/linkedin.png}" class="linkedin"></a>
     </div>
    

    </body>
</html>